<nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
        <h3><a href="/inventory" class="navbar-brand">Inventory App</a></h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item"><a href="/inventory" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/inventory/categories" class="nav-link">Categories</a></li>
                <li class="nav-item"><a href="/inventory/items" class="nav-link">Items</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Settings
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a href="/inventory/category/create" class="dropdown-item">Create new category</a></li>
                        <li><a href="/inventory/item/create" class="dropdown-item">Create new item</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>