<%- include('partials/head') %> <!-- ejs include, sort of importing code that can be reused to other module/file -->
<body>
    <%- include('partials/navbar') %> 
    <main class="container-fluid">
        <h2>Welcome to the Inventory project app</h2>
    </main>
</body>
</html>